.input-container {
    margin-bottom: 20px;
  }
  
  .input-container input {
    width: 300px; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px; 
    outline: none;
    margin-bottom: 10px; 
  }